body{
    background-color: #28251E;
    color: white;
}

.nav-link{
    color: #FFA54C;
    font-size: 1.5rem;
    text-decoration: none;
}
.nav-link:hover{
    color: #ffc926;
    text-decoration: underline;
}
.curso-box{
    background-color: #2f2b24;
    border-radius:  25px;
    padding: 20px;
    margin-bottom: 20px;
}
.curso-color{
    color: #ffc926;
}